<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            *, *:before, *:after {
                box-sizing: border-box;
            }

            html, body {
                margin: 0;
                padding: 0;
                background-color: #cab08f;
            }

            body {
                padding: 10px;
            }
        </style>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="/">To main page</a>
            <hr>
        </header>

        {% block contents %}
        {% endblock %}
    </body>
</html>
