<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            *, *:before, *:after {
                box-sizing: border-box;
            }

            html, body {
                margin: 0;
                padding: 0;
                background-color: #cab08f;
            }

            body {
                padding: 10px;
            }

            header>a:before {
                content: "";
                display: inline-block;
                width: 0.5em;
                height: 0.5em;
                margin-right: 0.2em;
                background-color: black;
                border-radius: 0.5em;
            }
        </style>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="/">Main</a>
            <a href="/upload">Upload</a>
            <hr>
        </header>

        {% block contents %}
        {% endblock %}
    </body>
</html>
