{% extends 'base.j2' %}

{% block title %}File{% endblock %}

{% block head %}
<style>

#fileWrapper {
    display: flex;
    justify-content: center;

    position: relative;
}

#file {
    max-width: 100%;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#tags {
    width: 300px;
    height: 300px;
}

#btnWrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    height: 40px;
}

.btn {
    flex: 1 1 auto;
    height: 100%;
    transition: 0.1s linear;
}

.btn:not([href]) {
    opacity: 0;
}

.btn[href]:hover {
    transform: scale(1.04);
}

.btn:nth-child(1) { background-color: blue; }
.btn:nth-child(2) { background-color: green; }
.btn:nth-child(3) { background-color: red; }

</style>
{% endblock %}

{% block contents %}
    <div id="btnWrapper">
        <a class="btn" {% if prevId %}href="/file/{{ prevId }}?groupId={{ groupId }}&queryTags={{ '+'.join(queryTags) }}" {% endif %}></a>
        {% if groupId %}
            {% set href = '/group/{}'.format(groupId) %}
        {% else %}
            {% set href = '/search?tags={}'.format('+'.join(queryTags)) %}
        {% endif %}
        <a class="btn" href="{{ href }}"></a>
        <a class="btn" {% if nextId %}href="/file/{{ nextId }}?groupId={{ groupId }}&queryTags={{ '+'.join(queryTags) }}" {% endif %}></a>
    </div>

    <a id="fileWrapper" {% if not isVideo and nextId %}href="/file/{{ nextId }}?groupId={{ groupId }}&queryTags={{ '+'.join(queryTags) }}"{% endif %}>
        <{% if isVideo %}video controls{% else %}img{% endif %} id="file" src="/img/{{ file.imgFilename }}">
    </a>

    <form id="tagsForm" method="post">
        <div>
            <b>Tags:</b>
            <br>

            <textarea id="tags" name="tags">
                {{- '\n'.join(ownTags) -}}
            </textarea>
            <br>

            <input type="submit" value="Save">
        </div>
    </form>

    <form id="deleteForm" method="post" action="/delete/{{ file.idx }}">
        <div>
            <b>Delete:</b>
            <br>

            <input type="checkbox" id="deleteCheckbox" required>
            <label for="deleteCheckbox">I realy want to delete this file</label>
            <br>

            <input type="submit" value="Delete">
        </div>
    </form>
{% endblock %}
