{% extends 'base.j2' %}

{% block title %}File{% endblock %}

{% block head %}
<style>

#imgWrapper {
    display: flex;
    justify-content: center;
}

#img {
    max-width: 100%;
}

#tagsForm {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#tags {
    width: 300px;
    height: 300px;
}

</style>
{% endblock %}

{% block contents %}
    <div id="imgWrapper">
        <img id="img" src="/img/{{ file.imgFilename }}">
    </div>

    <form id="tagsForm" method="post">
        <div>
            <b>Tags:</b>
            <br>

            <textarea id="tags" name="tags">
                {{- tags -}}
            </textarea>
            <br>

            <input type="submit" value="Save">
        </div>
    </form>
{% endblock %}
