{% extends 'base.j2' %}

{% block title %}Main Page{% endblock %}

{% block head %}
<style>

#tagsForm {
    display: flex;
    justify-content: center;
}

#imgsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    max-width: calc(3 * 20px + 4 * 200px);
    margin: 0 auto;
}

.imgWrapper {
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

</style>
{% endblock %}

{% block contents %}
    <form id="tagsForm">
        <div id="searchWrapper">
            <input type="text" name="tags"
                   id="tagsField" placeholder="Tags"
                  value="{{ request.args.get('tags', '') }}">
            <input type="submit">
            <hr>
        </div>
    </form>

    <div id="imgsContainer">
        {% for file in files %}
            <div class="imgWrapper">
                <img class="img" src="/thumb/{{ file.thumbFilename }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}
