{% extends 'base.j2' %}

{% block title %}Index{% endblock %}

{% block head %}
<style>

html, body, #tagsForm {
    height: 100%;
}

#tagsForm {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

#tagsForm input[type="text"] {
    margin: 5px 0;
}

</style>
{% endblock %}

{% block contents %}
    <form id="tagsForm">
        <div>
            Search:
            <br>

            <input type="text" name="tags" id="tagsField" placeholder="Tags">
            <br>

            <input type="submit">
        </div>
    </form>
{% endblock %}
