
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>

        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>

            html, body {
                background-color: #cab08f;
                height: 100%;
            }

            body {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>

    </head>

    <body>
        <form method="post">
            <h3>Login</h3>

            <label>User:</label>
            <br>
            <input type="text" name="user" required>
            <br>
            <br>

            <label>Pasword:</label>
            <br>
            <input type="password" name="password" required>
            <br>
            <br>

            <input type="submit">
        </form>
    </body>
</html>
