{% extends 'base.j2' %}

{% block title %}Search{% endblock %}

{% block head %}
<style>

#tagsForm {
    display: flex;
    justify-content: center;
}

#imgsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgWrapper {
    max-height: 45vh;
    max-width: min(45vh, 45vw);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

#pageBtns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pageLink {
    margin: 0 0.5em;
}

.pageLink[href] {
    color: blue;
}

</style>
{% endblock %}

{% block contents %}
    <form id="tagsForm">
        <div id="searchWrapper">
            <input type="text" name="tags"
                   id="tagsField" placeholder="Tags"
                  value="{{ ' '.join(tags) }}">
            <input type="submit">
            <hr>
        </div>
    </form>

    <div id="imgsContainer">
        {% for file in files %}
            <a class="imgWrapper" id="file{{ file.idx }}" href="/file/{{ file.idx }}?queryTags={{ '+'.join(tags) }}">
                <img class="img" src="/thumb/{{ file.thumbFilename }}">
            </a>
        {% endfor %}
        {% if not files %}
            <h1>Nothing's here!</h1>
        {% endif %}
    </div>

    <div id="pageBtns">
        {% for p in range(countPages) %}
            <a class="pageLink" {% if p != page %}
                href="/search?tags={{ '+'.join(tags) }}&page={{ p }}"
                {% endif %}>{{ p + 1 }}</a>
        {% endfor %}
    </div>
{% endblock %}
