{% extends 'base.j2' %}

{% block title %}Search{% endblock %}

{% block head %}
<style>

#tagsForm {
    display: flex;
    justify-content: center;
}

#imgsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgWrapper {
    max-height: 45vh;
    max-width: min(45vh, 45vw);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

#pageBtns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pageLink {
    margin: 0 0.5em;
    font-size: 1.5em;
}

.pageLink[href] {
    color: blue;
}

</style>
{% endblock %}

{% block contents %}
    <form id="tagsForm" action="/search">
        <div id="searchWrapper">
            <input type="text" name="tags"
                   id="tagsField" placeholder="Tags"
                  value="{{ ' '.join(tags) }}">
            <input type="submit">
            <hr>
        </div>
    </form>

    {% if groupId %}
        <h2 align="center">Group Id: {{ groupId }}</h2>
    {% endif %}

    <div id="imgsContainer">
        {% for file in files %}
            {% if file.parentId and not groupId %}
                {% set href = '/group/{}'.format(file.parentId) %}
            {% elif groupId %}
                {% set href = '/file/{}?groupId={}'.format(file.idx, groupId) %}
            {% else %}
                {% set href = '/file/{}?queryTags={}'.format(file.idx, '+'.join(tags)) %}
            {% endif %}
            <a class="imgWrapper" id="file{{ file.idx }}" href="{{ href }}">
                <img class="img" src="/thumb/{{ file.thumbFilename }}">
            </a>
        {% endfor %}
        {% if not files %}
            <h1>Nothing's here!</h1>
        {% endif %}
    </div>

    {% if countPages %}
    <div id="pageBtns">
        <!-- goto first page button -->
        <a class="pageLink" href="/search?tags={{ '+'.join(tags) }}&page=0">&lt;&lt;</a>

        <!-- ldots -->
        {% if minPage != 0 %}
            <a class="pageLink">...</a>
        {% endif %}

        <!-- page buttons -->
        {% for p in range(minPage, maxPage + 1) %}
            <a class="pageLink" {% if p != page %}
                href="/search?tags={{ '+'.join(tags) }}&page={{ p }}"
                {% endif %}>{{ p + 1 }}</a>
        {% endfor %}

        <!-- ldots -->
        {% if maxPage + 1 != countPages %}
            <a class="pageLink">...</a>
        {% endif %}

        <!-- goto last page button -->
        <a class="pageLink" href="/search?tags={{ '+'.join(tags) }}&page={{ countPages - 1 }}">&gt;&gt;</a>
    </div>
    {% endif %}
{% endblock %}
