{% extends 'base.j2' %}

{% block title %}Tag List{% endblock %}

{% block contents %}
    <ul>
        {% for tag in tags %}
            <li>
                <a href="/search?tags={{- tag -}}">
                    {{- tag -}}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
