{% extends 'base.j2' %}

{% block title %}Upload Image{% endblock %}

{% block head %}
<style>

textarea {
    width: 300px;
    height: 300px;
}

</style>
{% endblock %}

{% block contents %}
    <form method="post" enctype="multipart/form-data">
        <b>Upload Image(s)</b>
        <br>
        <br>

        <label>Image File(s):</label>
        <br>
        <input type="file" name="imgs[]" multiple required>
        <br>
        <br>

        <label>Tags (common if loading multiple):</label>
        <br>
        <textarea name="tags">tagme</textarea>
        <br>
        <br>

        <input type="submit">
    </form>
{% endblock %}
